@model IEnumerable<Movie>


<!DOCTYPE html>
<html>
<head>
    <title>Our Doctors</title>
    <link href="~/css/movieDetails.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" />
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center flex-wrap">
        @foreach (var item in Model)
        {
          
            <div class="movie ">
                <h4> @item.Name </h4>

                <div class="movie_info d-flex ">
                    <img src="~/images/movies/@item.ImgUrl" alt="Alternate Text" />
                    <div class="movie_title">
                        <p>@item.Description</p>
                        <p class="d-flex">Price: @item.Price</p>
                        <p>Cinema: @item.Cinema.Name</p>
                        <p>Start Date: @item.StartDate</p>
                        <p>End Date: @item.EndDate</p>
                        <a asp-action="AddActorToMovie" asp-controller="Movie" asp-route-MovieId="@item.Id">Add Actor</a>
                        <div style="margin-top:.5rem" class="ActorImage d-flex gap-3 flex-wrap">
                            @foreach (var actor in item.Actors)
                            {
                                <a asp-controller="Actor" asp-action="Details" asp-route-id="@actor.Id"> <img src="~/images/cast/@actor.ProfilePicture"></img></a>
                            }
                        </div>
                        <p>Category: @item.Category.Name</p>

                        @if (item.StartDate < DateTime.Now && item.EndDate > DateTime.Now)
                        {
                            item.MovieStatus = (MovieStatus)1;
                        }
                        else if (item.StartDate > DateTime.Now)
                        {
                            item.MovieStatus = (MovieStatus)0;
                        }
                        else
                        {
                            item.MovieStatus = (MovieStatus)2;

                        }
                        @if (item.MovieStatus == (MovieStatus)0)
                        {
                            <button class="available btn-primary" style="background:red">@item.MovieStatus</button>
                        }
                        else if (item.MovieStatus == (MovieStatus)1)
                        {
                            <button class="available btn-primary" style="background:green">@item.MovieStatus</button>
                        }
                        else
                        {
                            <button class="available btn-primary" style="background:black">@item.MovieStatus</button>
                        }
                        <p>Trailer</p>
                        <video controls src="@item.TrailerUrl" width="400"></video>
                    </div>
                </div>
                @if (item.MovieStatus == (MovieStatus)0)
                {
                    <div class="ticket gap-2 d-flex justify-content-center align-items-center">
                        <a class="book" href="#">Book Ticket</a>
                    </div>
                }
                else if (item.MovieStatus == (MovieStatus)1)
                {
                    <div class="ticket gap-2 d-flex justify-content-center align-items-center">
                        <a class="book" href="#">Book Ticket</a>
                    </div>
                }
                else
                {
                    <div class="ticket gap-2 d-flex justify-content-center align-items-center">
                        <a class="book" style="background:black" href="#">Book Ticket</a>
                    </div>
                }
            </div>
        }
    </div>

</body>
</html>


